.container {
    display: grid;
    margin: 20px;
    gap: 15px;

}

.flexible {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.fixed {
    grid-template-columns: 300px 300px 300px;
    gap: 10px;
}

.box {
    background-color: #4CAF50;
    border: 2px solid black;
    color: #f0f0f0;
    padding: 20px;
    text-align: center;
    font-size: 25px;
}