.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

.box1 { grid-column: span 6; }
.box2 { grid-column: span 3; }

.box{
    background-color: #4CAF50;
    border:2px solid black;
    color:#f0f0f0;
    padding: 20px;
    text-align: center;
    font-size: 25px;
}

.section{
    margin:35px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.sub{
    background-color: #4c96af;
    border:2px solid black;
    color:#f0f0f0;
    padding: 20px;
    text-align: center;
    font-size: 25px;
}