
body {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
        "headline headline"
        "nav-wrap nav-wrap"
        "Box1 grid-container"
        "footer footer";
}

header{
    
    background-color: rgb(19, 183, 19);
    text-align: center;
    padding: 2rem 2rem;
    margin: 0%;
    grid-area: headline;
}

.headline{
    color: azure;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-wrap {
    background-color:rgba(19, 183, 19, 0.736);
    margin-top:1px;
    color: #fff;
    grid-area: nav-wrap;
}

.nav-wrap {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    justify-content: center;
    padding: 8px 10px
}

.nav {
    color: #104055;
    
    
    
}

.nav a {
    
    padding: 7px 12px;
    border-radius: 999px;
    background: transparent;
    color: whitesmoke;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    transition: all .16s ease;
    border: 1px solid transparent;
}

.container{
   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.Box1{
    padding:10px;
    border-radius: 20px;
    background-color: rgba(19, 183, 19, 0.606);
    grid-area: Box1;
}
.grid-container{
    grid-area: grid-container;
}
