@supports (display: grid) {
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
}

.box{
    background-color: #4CAF50;
    border:2px solid black;
    color:#f0f0f0;
    padding: 20px;
    text-align: center;
    font-size: 25px;
}