.nav-wrapper{
    display:flex;
    width: 40vh;
    height: 40vh;
    justify-content: center;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}
    
.div1 {
    background: linear-gradient(135deg , #1d0dd4 10%, #212db3 36%, #2d37a3 100%);
    width: 40vh;
    height: 100vh;
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
}

.div2 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
}

.div3 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 3;
}

.div4 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 3;
}

.div5 {
    grid-row: span 5 / span 5;
    grid-column-start: 5;
    grid-row-start: 1;
}

.div6 {
    grid-column: span 4 / span 4;
    grid-row-start: 5;
}
        